{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <style>
        html,
        body {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
        }

        .activated {
            position: absolute;
            display: inline-block;
            bottom: 14px;
            content: "";
            width: 0px;
            height: 0px;
            border-bottom: 30px solid white;
            border-top: 30px solid transparent;
            border-right: 30px solid transparent;
            border-left: 30px solid transparent;
        }
    </style>
</head>

<body class="h-100 position-relative d-flex w-100"
    style="background: url( {% static 'maf_trans_splash.jpg' %}) 54% 15%/cover no-repeat;">

    <div class="row w-100 " style="margin:0;">
        <div style="height: 100px;margin-bottom:2rem " class="col-12  d-flex align-items-center">
            <img width="150" src="{% static 'car_livraison.png' %}" alt="">

            <div style="margin-left:2rem;" class="d-flex position-relative w-100 mt-5 justify-content-between">
                <a href="{% url 'dashboard' %}"
                    class="position-relative py-3 text-decoration-none align-items-center d-flex flex-column">
                    <div style="width:50px;height:50px"
                        class="rounded-circle d-flex align-items-center justify-content-center bg-white">
                        <img width="30" src="{% static 'list-colis.png' %}" alt="">
                    </div>
                    <p class="p-2 fs-5 text-white font-bold">Tableau de board</p>

                    {% if current_path == 'dashboard' %}
                    <div class="activated"></div>
                    {% endif%}
                </a>

                <a href="{% url 'nouveau' %}"
                    class="position-relative py-3 text-decoration-none align-items-center d-flex flex-column">
                    <div style="width:50px;height:50px"
                        class="rounded-circle d-flex align-items-center justify-content-center bg-white">
                        <img width="40" src="{% static 'add.png' %}" alt="">
                    </div>
                    <p class="p-2 fs-5 text-white font-bold">Nouveau</p>

                    {% if current_path == 'nouveau' %}
                    <div class="activated"></div>
                    {% endif%}
                </a>

                <a href="{% url 'transferts' %}"
                    class="py-3 text-decoration-none align-items-center d-flex flex-column">
                    <div style="width:50px;height:50px"
                        class="rounded-circle d-flex align-items-center justify-content-center bg-white">
                        <img width="30" src="{% static 'transferts.png' %}" alt="">
                    </div>
                    <p class="p-2 fs-5 text-white font-bold">Liste des transferts</p>

                    {% if current_path == 'transferts' %}
                    <div class="activated"></div>
                    {% endif%}

                </a>
                <a href="{% url 'receptions' %}"
                    class="py-3  d-flex align-items-center text-decoration-none flex-column">
                    <div style="width:50px;height:50px"
                        class="rounded-circle d-flex align-items-center justify-content-center bg-white">
                        <img width="30" src="{% static 'receptions.png' %}" alt="">
                    </div>
                    <p class="p-2 fs-5 text-white font-bold">Liste des réceptions</p>

                    {% if current_path == 'receptions' %}
                    <div class="activated"></div>
                    {% endif%}
                </a>

                <a href="{% url 'checkup' %}" class="py-3 d-flex align-items-center flex-column text-decoration-none">
                    <div style="width:50px;height:50px"
                        class="rounded-circle d-flex align-items-center justify-content-center bg-white">
                        <img width="40" src="{% static 'check-out.png' %}" alt="">
                    </div>
                    <p class="p-2 fs-5 text-white font-bold">Check-Out / Vérification</p>

                    {% if current_path == 'checkup' %}
                    <div class="activated"></div>
                    {% endif%}
                </a>

            </div>
        </div>
        <div style="height: calc(100vh - 100px - 2rem);border-top-left-radius:180px;overflow-y:auto; padding: 4rem"
            class="w-100 col-12 bg-white ">
            {% block content%} {% endblock content %}
        </div>
    </div>
    <script>
        document.querySelectorAll(".colis-item").forEach(colis => {
            console.log(colis)
            let colis_btn_delete = colis.getElementsByClassName("colis-btn-delete")[0]
            let colis_code = colis.getElementsByClassName("colis-code")[0]

            colis_btn_delete.addEventListener("click", e => {
                let reponse = window.confirm(`Voulez-vous vraiment supprimer cet élément - Code : ${colis_code.textContent.trim()} ?`)
                if (reponse == false) {
                    e.preventDefault()
                    e.stopImmediatePropagation()
                    e.stopPropagation()

                }
            })
        })
    </script>
</body>

</html>